@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,300;1,400&family=Roboto:wght@300;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
html{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo
{
    background-color: white;
    background-image: linear-gradient(to top, #7597de 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    display:flex;
    align-items: center;
    margin-left: 25px;
}
.logo{
    margin-right:0.5rem;
    font-family: 'Long Cang';
    font-size: 60px;
    
}

.navbar__menu{
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
    
}
.navbar__item{
    height: 80px;
}

.navbar__resume{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    width: 100%;
    
}
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 6px 15px;
    color:#fff;
    border-radius:20px;
    text-decoration: none;
}

.resume:hover{
    background:#fff;
    color:#2b1055;
    
}
.links
 { 
     padding: 6px 15px;
     color:#fff;
     border-radius:20px;
     text-decoration: none;
     display:flex;
     align-items: center;
     justify-content: center;
     height: 100%;
 }
 .links:hover{
     background:#fff;
     color:#2b1055;
 }
@media screen and (max-width:960px){
 .navbar__container{
    display: flex;
    justify-content:space-between  ;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    padding:0;
    z-index: 1;
    
}

 .navbar__menu{
    display:grid;
    grid-template-columns: auto;
    margin: 0;
    width:100%;
    position: absolute;
    top:-1000px;
    opacity:0; 
    transition: all 0.7s ease;
    height:50vh;
    z-index:-1;
    
 }
 .navbar__menu.active{
     background:#131313;
     top:100%;
     opacity:1;
     transition: all 0.7s ease;
     z-index: 1000;
     height:50vh;
     font-size:1.6rem;
 }
 #navbar__logo
 {
     padding-left: 25px;
 }
 .navbar__toggle .bar{
     width:25px;
     height:3px;
     margin: 5px auto;
     background:#fff;
     transition: all 0.3s ease-in-out;
 }
 .navbar__item
 {
     width:100%;
 }
 .links
 {
     text-align:center;
     padding:2rem;
     width:100%;
     display:table;
 }

 #mobile_menu {
     position: absolute;
     top:20%;
     right:5%;
     transform: translate(5%,20%);
 }
 .navbar__resume{
     padding-bottom:2rem;
     
     
 }
 .resume{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin:0;
 }
  .navbar__toggle .bar{
      display: block;
      cursor: pointer;

  }
#mobile_menu.is-active .bar:nth-child(2){
    opacity: 0;
}
#mobile_menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
#mobile_menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

}

 /*header*/

.header_background{
    background: url("img/ae7cd05d9438e3a42f955718affa1c9b.gif") no-repeat center center fixed;
    background-size:0px;
    display:block;
    align-items: center;
    justify-content:center;
    background-size: cover;
    min-height: 100vh;
}

.header_container{
    display:block;
    text-align:center;
    color:white;
    width: 100%;
    max-height: 50%;
    word-wrap: break-word;
    white-space: normal;
    position: absolute;
    top:30%
}

.header_text{
    color: white;
    font-size: 4.5vw;
    font-family: calibri;
    font-weight: bold;
    padding-bottom: 3vw;
}

.header_title-button{
    background-color: #292929;
    background-size:cover;
    width: 28vw;
    height:5.4vw;
    border-radius:0.5vh;
    cursor: pointer;
    border:none; 
    transition: all 0.35s;
    position:relative;
    
}
.button-text{
    position:relative;
    color:white;
    z-index:10;
    font-family: calibri;
    font-size:1.7vw;
}
.header_title-button::after{
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:0;
    height:100%;
    background:linear-gradient(to right,blue,pink);
    transition:all 0.35s;
    border-radius:0.5vh;
}
.header_title-button:hover{
    background-color: #131313;
}
.header_title-button:hover::after{
    width:100%;
}

@media only screen and (max-width:600px) {
    .header_text{
        font-size: 10vw;
    }
    .header_container{
        display:block;
        text-align:center;
        color:white;
        width: 100%;
        max-height: 50%;
        word-wrap: break-word;
        white-space: normal;
    }
    .header_title-button{
        width: 55vw;
        font-size: 3vw;
    }
    .button-text{
        font-size:2vh;
    }
}
.body1-background{
    text-align: center;
    padding-top:5vh;
    padding-bottom:6.5vh;
}

.body1-title{
    font-size: 60px;
    font-weight:900;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:4.5vw
}

.body-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.title{
    font-size:45px;
    display: flex;
    justify-content: center;
    
}
.content{
    font-size:30px;
    display: flex;
    justify-content: center;
}

.picture{
    width: 120px;
    height: 120px;
}

@media only screen and (max-width:768px) {

    .body-content{
    width:100%;
    }

    .title{
        font-size: 35px; 
        font-family: calibri; 
        white-space: normal; 
        margin-bottom: 3vh;
    }
    
    .content{
        font-size: 20px; 
        font-family: calibri; 
        white-space: normal;
        line-height:45px;
    }
}

@media only screen and (max-width:600px){

    .body-content{
        display:inline-block;
        text-align: center;
        width:100%;
     }
    
    .body-content1{
        display:block;
        width:100%;
        text-align: center;
        margin-right: 0%;
        margin-left: 0%;
    }
    .body-content2{
        display:block;
        width:100%;
        text-align: center;
        margin-right: 0%;
        margin-left: 0%;
    }
    .body-content3{
        display:block;
        width:100%;
        text-align: center;
        margin-right: 0%;
        margin-left: 0%;
    }
    .picture{
        margin-bottom: 5vw;
        margin-top: 10vw;
    }

    .title{
        font-size: 40px; 
        font-family: calibri; 
        white-space: normal; 
        margin-bottom: 5vw;
    }

    .content{
        font-size: 25px; 
        font-family: calibri; 
        white-space: normal;
        line-height:35px;
    }

   .body1-title, .section__title{
       font-size: 8vw;
   }

}


.body2-background{
    background-color:black;
    color:white;
    margin-top: 50px;
    font-family: calibri;
    padding-top:5vh;
    padding-bottom:5vh;
}


.section__title,.section__subtitle{
    display:flex;
    justify-content: center;
}
.section__subtitle{
    font-size: 15px;
    color:gray;
}
.contact__container{
    margin-left:2vw;
    margin-right:2vw;
}
.contact__information{
    display:flex;
    margin-top:3vw;
}

.contact__icon{
    font-size:2rem;
    margin-right: 10px;
    background-color: white;
    background-image: linear-gradient(to top, blueviolet 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.contact__subtitle{
    color:rgb(173, 171, 171);
}

.contact__form{
    margin-top:5vh;
}
.contact__content{
    background-color: rgb(163, 158, 158);;
    border-radius: .5rem;
    padding:.75rem 1rem .25rem;
    margin-bottom:20px;
}

.button{
    cursor: pointer;
    padding:10px 10px .5rem .5rem;
    border-radius:5px;
}
.button:hover{
    background-color: rgb(158, 149, 149);
}
.button__icon{
    font-size:15px;
}

.contact__input{
    width:100%;
    border:none;
    outline: none;
    background: rgb(163, 158, 158);
    color:rgb(228, 225, 225);
    padding:.25rem .5rem .5rem 0;
}


.scrollup{
    position:fixed;
    right:1rem;
    bottom:-20%;
    background-color: #adb5bd;
    opacity: .8;
    padding:0 .5rem;
    border-radius:50%;
    transition:.4s;
    color:white;
}
.scrollup:hover{
    background-color: black;
}

.scrollup__icon{
    font-size:1.8rem;
    color:#ffffff;
}
.show-scroll{
    bottom: 5rem;
}

/*footer*/
.footer__links{
    display:flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding-top:2rem;
    padding-bottom:2rem;
    list-style: none;
}
.footer__link{
    text-decoration: none;
    color:whitesmoke;
}

.footer__link:hover{
    color:rgb(177, 173, 173)
}

.footer__subtitle{
    color:rgb(113, 106, 106);
}
.footer__title{
    font-weight:600;
    color:white;
}
.footer__bg{
    background:linear-gradient(black,gray);
    padding-left: 2vw;
    padding-bottom:2rem;
}
.footer__social{
    font-size: 50px;
    color:white;
}
.uil-facebook:hover{
    color:#4267B2;
}

.uil-youtube:hover{
    color:#c4302b;
}
.uil-github:hover{
    color:#171515;
}

